<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Node + MySQL</title>
    <link rel="stylesheet" href="/css/estilos.css">
</head>
<body>
     <nav>
        <ul>
            <li><a href="/">Início</a></li>
            <li><a href="/create">Cadastro de livros</a></li>
        </ul>
    </nav>
    <h1>Node e MySQL</h1>
   
    {{{body}}}
</body>
</html>